.container-padrao{
    white-space: nowrap;
    overflow: scroll;
}
.container{
    display: flex;
    width: 100vw;
    overflow-x: auto;
}
.container2{
    display: flex;
    overflow-x: auto;
    width: 100vw;
}
.container-filtrado{
    display: flex;
    flex-direction: column;
    overflow: scroll;
    white-space: nowrap;
}
.filter-details{
    display: flex;
    flex: row;
    justify-content: left;
}
.filter-details h3{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 34px;
    color: #333333;
    margin: 0 0 10px 10px;
}
.filter-details h4{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 34px;
    color: #828282;
    margin: 0 0 10px 10px;
}

@media (min-width: 1100px){
    .container-padrao{
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;

    }
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        width: 600px;
        height: 600px;
    }
    .container2 {
        display: grid;
        width: 600px;
        height: 600px;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .container-padrao{
        overflow: hidden;
    }
    .container-filtrado{
        overflow: hidden;
        margin-top: 12px;
        width: 600px;
    }
}