@import url('https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:wght@200;400&family=Nunito:wght@400;700&family=Poppins:wght@500&display=swap');

.input-search {
    position: relative;
  }
  
  .input-search input{
    padding-right: 60px;
    margin-top: 10px;
    width: 285px;
    height: 60px;
    background: #FFFFFF;
    border: 2px solid #E0E0E0;
    box-sizing: border-box;
    border-radius: 8px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100;
    font-size: 16px;
    line-height: 19px;
    color: #333333;
  }
  
  .input-search button {
    position: absolute;
    right: -100px;
    top : 20px;
    padding: 0px 20px;
    width: 107px;
    height: 40px;
    background: #27AE60;
    border: 2px solid #27AE60;
    box-sizing: border-box;
    border-radius: 8px;
    margin: 0px 115px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    cursor: pointer;
  }

.input-search button:hover{
  background-color: green;
  border: none;
}